<div class="datagrid">
<div class="usershow">
<h1>Whether the Weather for <%= @user.user_name %>!</h1>
  <% if current_user.following?(@user) %>
    <%= link_to "Unfollow", current_user.relationship_for(@user), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to "Follow", relationships_path(user_id: @user.id), method: :post, class: "btn btn-success" %>
  <% end %>
  <br>
  <br>
    <p>  <%="Your location is #{@user.location}"%> </p>
    <p>  <%="Your ailments include #{@user.ailments}"%> </p>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <% @user.posts.each do |post|%>
          <h2> <% post.title %> </h2>
               <% render post.comments %>
      <% end %>
      <small>
       <%= pluralize(@user.posts.count, 'post') %>,
       <div class='js-comments-count'><%= pluralize(@user.comments.count, 'comment') %></div>
     </small>
  </div>
</div>
  <ul id="bar">
   <li id="rain">
      <div class="top">
         <img src="http://3.bp.blogspot.com/-pZxH1mqMtmU/UTPrENwAibI/AAAAAAAAOkQ/EypNnq2gpAc/s1600/25893561_1211899284_23049134_1208547972_RainAnimation.gif" alt="rain" />
      </div>
      <div class="bottom">
         <div class="infobox">
            <h3>Rain</h3>
            <p>80,1</p>
         </div>
      </div>
   </li>

   <ul id="bar">
    <li id="shine">
       <div class="top">
          <img src="http://animated-sun.weebly.com/uploads/3/6/6/7/3667732/7062671_orig.gif" alt="shine" />
       </div>
       <div class="bottom">
          <div class="infobox">
             <h3>Shine</h3>
             <p>80,1</p>
          </div>
       </div>
    </li>

    <ul id="bar">
     <li id="pouring">
        <div class="top">
           <img src="http://49.media.tumblr.com/tumblr_m92mzsv7Ap1rsq9eyo1_500.gif" alt="pouring" />
        </div>
        <div class="bottom">
           <div class="infobox">
              <h3>Downpour Imminent</h3>
              <p>80,1</p>
           </div>
        </div>
     </li>

     <ul id="bar">
      <li id="drizzle">
         <div class="top">
            <img src="http://www.lovethispic.com/uploaded_images/130727-Rain-Drizzling-Down-A-Window.gif" alt="drizzle" />
         </div>
         <div class="bottom">
            <div class="infobox">
               <h3>Drizzle</h3>
               <p>80,1</p>
            </div>
         </div>
      </li>

</ul>
