<div class="datagrid">
  <h1>Whether the Weather for <%= @user.user_name %>!</h1>
    <p><% if current_user.following?(@user) %>
      <%= link_to "Unfollow", current_user.relationship_for(@user), method: :delete, class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Follow", relationships_path(user_id: @user.id), method: :post, class: "btn btn-success" %>
    <% end %></p>



<div class="col-md-7">
  <% set_weather_for(@location) %>
<p><%=@place%></p>
<p><%=@weather%></p>

<p>Humidity: <%= @atmosphere["humidity"]%>, Pressure: <%= @atmosphere["pressure"]%></p>

<p>  <%="#{@user.user_name}'s ailments include #{@user.ailments.map(&:description).to_sentence}"%> </p>
  <section class="stats">
    <%= render 'shared/stats' %>
  </section>

<h1>User Statistics</h1>
<br>
<ul id="bar">
 <li id="shine">
    <div class="top">
       <img src="http://animated-sun.weebly.com/uploads/3/6/6/7/3667732/7062671_orig.gif" alt="shine" />
    </div>
    <div class="bottom">
       <div class="infobox">
          <h3>Shine</h3>
          <p><%= @user.posts.map(&:shine?).count %></p>
       </div>
    </div>
 </li>

 <ul id="bar">
  <li id="cloudy">
     <div class="top">
        <img src="http://www.xenon-kino.de/files/clouds.gif" alt="cloudy" />
     </div>
     <div class="bottom">
        <div class="infobox">
           <h3>Cloudy</h3>
           <p><%= @user.posts.map(&:cloudy?).count %></p>
        </div>
     </div>
  </li>

 <ul id="bar">
  <li id="drizzle">
     <div class="top">
        <img src="http://www.lovethispic.com/uploaded_images/130727-Rain-Drizzling-Down-A-Window.gif" alt="drizzle" />
     </div>
     <div class="bottom">
        <div class="infobox">
           <h3>Drizzle</h3>
           <p><%= @user.posts.map(&:drizzle?).count %></p>
        </div>
     </div>
  </li>

  <ul id="bar">
   <li id="rain">
      <div class="top">
         <img src="http://3.bp.blogspot.com/-pZxH1mqMtmU/UTPrENwAibI/AAAAAAAAOkQ/EypNnq2gpAc/s1600/25893561_1211899284_23049134_1208547972_RainAnimation.gif" alt="rain" />
      </div>
      <div class="bottom">
         <div class="infobox">
            <h3>Rain</h3>
            <p><%= @user.posts.map(&:rain?).count %></p>
         </div>
      </div>
   </li>



    <ul id="bar">
     <li id="pouring">
        <div class="top">
           <img src="http://49.media.tumblr.com/tumblr_m92mzsv7Ap1rsq9eyo1_500.gif" alt="pouring" />
        </div>
        <div class="bottom">
           <div class="infobox">
              <h3>Imminent Downpour</h3>
              <p><%= @user.posts.map(&:downpour?).count %></p>
           </div>
        </div>
     </li>
   </ul>
</div>
</div>
