<div>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(@post.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Add a title for your weather update!" %>
  <% end %>

  <%= form_group_tag(@post.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Add a description to your update!" %>
  <% end %>

  <div class="form-group">
    <%= label_tag :label %>
    <%= select_tag "label", "<option>Shine</option><option>Cloudy</option><option>Drizzle</option><option>Rain</option><option>Imminent Downpour</option>".html_safe, multiple: false%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
</div>
