<div>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Add a new weather update!" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, placeholder: "Add some details about your update!" %>
  </div>

  <div class="form-group">
  <%#= render partial: 'labels/form', locals: { f: f, label: @post.label } %>

    <%= label_tag :label %>
    <%= select_tag "label", "<option>Shine</option><option>Cloudy</option><option>Drizzle</option><option>Rain</option><option>Imminent Downpour</option>".html_safe, multiple: false%>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
