<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>



<p>
  <strong>User:</strong>
  <%= @post.user.user_name %> posted <%= time_ago_in_words(@post.created_at) %> ago

</p>

<p>
  <strong>Location:</strong>
  <%= @post.user.location %>
</p>


<p>
<strong>Body:</strong>
<%= @post.body %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-success' %> |
<%= link_to "Delete Post", [@post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' } %>
<%= link_to 'Back', posts_path %>

<p>
    <div>
    <h3>Comments</h3>
    <%= render @post.comments %>
  </div>
   <% if current_user %>
     <%= render 'comments/form', comment: Comment.new, post: @post %>
   <% end %>
  </div>
</p>
