<div>
<h3>Add a comment</h3>

<%= form_for [@post, Comment.new], remote: true do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(comment.errors[:body]) do %>
    <%= f.label :body, class: 'sr-only' %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Add a comment!" %>
  <% end %>
  <!-- <div class="form-group">
    <%#= f.label :body, class: 'sr-only' %>
    <%#= f.text_field :body, class: 'form-control', placeholder: "Enter a new comment" %>
  </div> -->
  <%= f.submit "Submit Comment", class: 'btn btn-default pull-right' %>
<% end %>
</div>
